@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Hind Siliguri', sans-serif;
  line-height: 1;
}

input, .quote {
  background-image: url(./../public/quote2.png);
  background-size: cover;
  background-position: center;
}