@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Hind Siliguri', sans-serif;
  line-height: 1;
}

input, .quote {
  background-image: url(./../public/quote2.png);
  background-size: cover;
  background-position: center;
}

.radio-container [type="radio"]{
  display: none;
}

.radio-container label{
  display: block;
  padding: 10px 20px;
  border:2px solid #15ad1d;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}


.radio-container [type="radio"]:checked ~ label{
  background-color: #15ad1d;
  color: #fff;
}

.radio-container [type="radio"]:checked ~ label:before{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}